In [1]:
#testing hybrid for normal dataset

import pandas as pd
import numpy as np
import hybrid

In [8]:
import pandas as pd

# Dataset 1
data1 = {
    'col a': [245, 65, 122, 12, 111],
    'col b': [5, 125, 6, 666, 9],
    'col c': [12, 11, 55, 22, 25],
    'col d': [3.546, 2.355, 1.222, 3.554, 3.255]
}
df1 = pd.DataFrame(data1)

# Dataset 2
data2 = {
    'col a': [12, 242, 63, 100],
    'col b': [65, 3, 11, 11],
    'col c': [21, 11, 9, 25],
    'col d': [13.656, 2.564, 2.985, 3.559]
}
df2 = pd.DataFrame(data2)

# Dataset 3
data3 = {
    'col a': [242, 11, 63, 1],
    'col b': [235, 3, 121, 11],
    'col c': [11, 11, 9, 25],
    'col d': [3.996, 2.564, 2.985, 3.559]
}
df3 = pd.DataFrame(data3)

In [9]:
df1.to_csv('df1.csv',index=False)

In [10]:
from sdv.metadata import SingleTableMetadata #this is a function that creates metadata, tries to capture the datatypes 
                                              
metadata = SingleTableMetadata()#creating an empty data table
metadata.detect_from_csv('df1.csv')

In [11]:
r1=hybrid.hybrid(df1,df2,df3,metadata)

First dataset quality score:

Creating report: 100%|███████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 45.28it/s]

Overall Quality Score: 65.56%

Properties:
Column Shapes: 60.0%
Column Pair Trends: 71.13%
Second dataset quality score:

Creating report: 100%|███████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 54.06it/s]

Overall Quality Score: 66.72%

Properties:
Column Shapes: 56.25%
Column Pair Trends: 77.2%
--------------First dataset report:-------------
  Column        Metric  Quality Score
0  col a  KSComplement           0.65
1  col b  KSComplement           0.60
2  col c  KSComplement           0.65
3  col d  KSComplement           0.50
--------------Second dataset report:------------
  Column        Metric  Quality Score
0  col a  KSComplement           0.65
1  col b  KSComplement           0.65
2  col c  KSComplement           0.45
3  col d  KSComplement           0.50
------------- Combined Quality score------------
  Column        Metric  Quality Score_1  Quality Score_2
0  col a  KSComplement             0.65             0.65
1  col b  KSComplement             0.60             0.65
2  col c  KSComplement             0.65             0.45
3  col d  KSComplement             0.50             0.50
Name of columns for which transformation have  been used:
['col a', 'col c', 'col d']
{
    "sdtypes": {
        "col a": "numerical",
        "col b": "numerical",
        "col c": "numerical",
        "col d": "numerical"
    },
    "transformers": {
        "col a": None,
        "col b": None,
        "col c": None,
        "col d": None
    }
}
Details of transformers used for all variables:
{
    "sdtypes": {
        "col a": "numerical",
        "col b": "numerical",
        "col c": "numerical",
        "col d": "numerical"
    },
    "transformers": {
        "col a": None,
        "col b": None,
        "col c": None,
        "col d": None
    }
}
Hybrid quality score

Creating report: 100%|███████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 54.54it/s]

Overall Quality Score: 66.47%

Properties:
Column Shapes: 61.25%
Column Pair Trends: 71.7%
Hybrid dataset report:
  Column        Metric  Quality Score
0  col a  KSComplement           0.65
1  col b  KSComplement           0.65
2  col c  KSComplement           0.65
3  col d  KSComplement           0.50
 Combined Quality score
  Column        Metric  Quality Score_1  Quality Score_2  Quality Score_3
0  col a  KSComplement             0.65             0.65             0.65
1  col b  KSComplement             0.60             0.65             0.65
2  col c  KSComplement             0.65             0.45             0.65
3  col d  KSComplement             0.50             0.50             0.50

In [12]:
r1

   col a  col b  col c  col d
2     63    121      9  2.985
0     11    235     21  3.996
1    242      3     11  2.564
3    100     11     25  3.559

In [13]:
df2

   col a  col b  col c   col d
0     12     65     21  13.656
1    242      3     11   2.564
2     63     11      9   2.985
3    100     11     25   3.559

In [14]:
df3

   col a  col b  col c  col d
0     11    235     11  3.996
1    242      3     11  2.564
2     63    121      9  2.985
3    100     11     25  3.559