In [1]:
import numpy as np
import pandas as pd
import sdv
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
real_data=pd.read_csv('UCI_Credit_Card.csv')
real_data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
real_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

2nd ,3rd ,4th ,24th column must be categorical variables. so we have to change their data type.

In [4]:
real_data[['SEX','EDUCATION','MARRIAGE','default.payment.next.month']]=real_data[['SEX','EDUCATION','MARRIAGE','default.payment.next.month']].astype(str)

In [5]:
real_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  object
 3   EDUCATION                   30000 non-null  object
 4   MARRIAGE                    30000 non-null  object
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  object
dtypes: float64(13), int64(8), object(4)
memory usage: 5.7+ MB

In [6]:
from sdv.tabular import GaussianCopula
model = GaussianCopula()
model.fit(real_data)

ModuleNotFoundError: No module named 'sdv.tabular'

In [7]:
new_data = model.sample(num_rows=30000)

NameError: name 'model' is not defined

In [ ]:
new_data.head()

In [ ]:
new_data.describe(include='all')

In [ ]:
real_data.describe(include='all')

all values in synthesised data are in the range of previously defined datasets

In [ ]:
new_data[new_data.ID == new_data.ID.value_counts().index[0]]

In [ ]:
new_data.ID.value_counts().max()

In [ ]:
model = GaussianCopula(
    primary_key='ID'
)
model.fit(real_data)
new_data = model.sample(30000)
new_data.head()

In [ ]:
new_data.describe(include='all')

In [ ]:
from sdv.evaluation import evaluate
evaluate(new_data, real_data, aggregate=False)

In [ ]:
corr= real_data.corr()
sns.heatmap(corr)

In [ ]:
corr2= new_data.corr()
sns.heatmap(corr2)

In [ ]:
dif=1-abs(corr-corr2)
sns.heatmap(dif)

In [ ]:
evaluate(new_data, real_data,metrics=['LogisticDetection'] )

In [ ]:
sns.set(style="darkgrid")


fig, axs = plt.subplots(3, 2, figsize=(10, 10))

sns.histplot(data=real_data, x="PAY_AMT1", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=new_data, x="PAY_AMT1", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=real_data, x="PAY_0", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=new_data, x="PAY_0", kde=True, color="teal", ax=axs[1, 1])

sns.histplot(data=real_data, x="PAY_AMT5", kde=True, color="skyblue", ax=axs[2, 0])
sns.histplot(data=new_data, x="PAY_AMT5", kde=True, color="olive", ax=axs[2, 1])

plt.show()

In [ ]:
sns.histplot(data=real_data,x='LIMIT_BAL')

In [ ]:
sns.histplot(data=new_data,x='LIMIT_BAL')

Now I will store the new synthesized data ,generated from the real dataset, into an excel file.

sd='new_data.xlsx'
new_data.to_excel(sd)

In many scenarios it will be convenient to generate synthetic versions of  data directly in systems that do not have access to the original data source.So I will make an file that will contain the parameters of the real data set and we can share that file and using SDV  we can sample date from it.

model.save('my_model.pkl')

loaded = GaussianCopula.load('my_model.pkl')
new_data2 = loaded.sample(200)

sd2='new_data2.xlsx'
new_data2.to_excel(sd2)

{
    "primary_key": "ID",
    "fields": {
        "ID": {
            "type": "id",
            "subtype": "integer",
            "regex": "U_[0-9]{3}"
        },
        "age": {
            "type": "numerical", 
            "subtype": "integer"
        },
        "address": {
            "type": "categorical",
            "pii": True
        }, 
        "tier": {
            "type": "categorical"
        },
        "active": {
            "type": "boolean"
        },
        "paid_amt": {
            "type": "numerical",
            "subtype": "float"
        },
        "renew_date": {
            "type": "datetime",
            "format": "%Y-%m-%d"
        }
    }
}

from sdmetrics.reports.single_table import QualityReport
report = QualityReport()
report.generate(real_data, new_data)

model1 = GaussianCopula(
    primary_key='ID'
)
model1.fit(real_data)

In [ ]:
distributions = model.get_distributions()
distributions

In [ ]:
# use my_metadata_dict in the SDMetrics library
import json 

with open('metadata.json') as f:
    my_metadata_dict = json.load(f)

In [ ]:
from sdmetrics.reports.single_table import QualityReport

report = QualityReport()

In [ ]:
report.generate(real_data, new_data, my_metadata_dict)

In [ ]:
report.get_details(property_name='Column Shapes')

In [ ]:
fig = report.get_visualization(property_name='Column Shapes')
fig.show()

In [ ]:
fig1 = report.get_visualization(property_name='Column Pair Trends')
fig1.show()

In [ ]:
from sdmetrics.column_pairs import CorrelationSimilarity

CorrelationSimilarity.compute(
    real_data=real_data[['PAY_AMT5', 'PAY_6']],
    synthetic_data=new_data[['PAY_AMT5', 'PAY_6']],
    coefficient='Pearson'
)

In [ ]:
from sdmetrics.reports import utils

fig = utils.get_column_pair_plot(
    real_data=real_data,
    synthetic_data=new_data,
    column_names=['PAY_AMT5', 'PAY_6'],
    metadata=my_metadata_dict
    
)

fig.show()

In [ ]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=real_data,
    synthetic_data=new_data,
    column_name='PAY_AMT2',
    metadata=metadata
)
    
fig.show()

In [ ]:
from sdmetrics.reports import utils

fig = utils.get_column_pair_plot(
    real_data=real_data,
    synthetic_data=new_data,
    column_names=['PAY_AMT2', 'PAY_6'],
    metadata=my_metadata_dict
    
)

fig.show()

In [ ]:
from sdmetrics.reports import utils

fig = utils.get_column_plot(
    real_data=real_data,
    synthetic_data=new_data,
    column_name='PAY_AMT2',
    metadata=my_metadata_dict
)

fig.show()

In [ ]:
from sdmetrics.reports.single_table import DiagnosticReport

report = DiagnosticReport()

In [ ]:
report.generate(real_data, new_data,my_metadata_dict)

In [ ]:
report.get_properties()

In [ ]:
report.get_details(property_name='Coverage')

In [ ]:
fig = report.get_visualization(property_name='Coverage')
fig.show()

In [ ]:
from sdmetrics.single_table import GMLogLikelihood

GMLogLikelihood.compute(
    real_data=real_data,
    synthetic_data=new_data
)

In [ ]:
from sdmetrics.single_table import BinaryAdaBoostClassifier, BinaryDecisionTreeClassifier, BinaryLogisticRegression, BinaryMLPClassifier    



BinaryLogisticRegression.compute(
    test_data=real_data,
    train_data=new_data,
    target='default.payment.next.month',
    metadata=my_metadata_dict
)

In [ ]:
from sdmetrics.single_table.efficacy.mlefficacy import MLEfficacy
MLEfficacy.compute(real_data,new_data,my_metadata_dict,target='default.payment.next.month')

In [ ]:
from sdmetrics.single_table import NumericalMLP

NumericalMLP.compute(
    real_data=real_data,
    synthetic_data=new_data,
    key_fields=['BILL_AMT1', 'PAY_AMT1','PAY_0'],
    sensitive_fields=['LIMIT_BAL']
)

In [ ]:
from sdmetrics.single_table import CategoricalZeroCAP

score = CategoricalZeroCAP.compute(
    real_data=real_data,
    synthetic_data=new_data,
    key_fields=['PAY_0', 'SEX','MARRIAGE'],
    sensitive_fields=['EDUCATION'])

In [ ]:
score

In [ ]:
from sdmetrics.single_table import CategoricalCAP

score = CategoricalCAP.compute(
    real_data=real_data,
    synthetic_data=new_data,
    key_fields=['PAY_0', 'SEX','MARRIAGE'],
    sensitive_fields=['EDUCATION'])

In [ ]:
score